body{margin:0;
    background-image: url(https://static.tildacdn.com/tild3332-3133-4234-a665-383363313231/-/resize/504x/desktop-main_backgro.jpg);
    background-size: 300%;
   }
#img1{margin:4%; margin-left: 6%;} 
.button1{ border:none;
   background: none;
   font-size:65%;
   color:rgb(230, 230, 230);
   margin-left: 6%;
         }
#container1{display: flex;
       align-items: center;
   justify-content:flex-start;
   margin:2%;
}
#button2{
       background:none;
       font-size:50%;
   color:rgb(230, 230, 230);
    border-color:rgb(230, 230, 230);
    padding-left: 3%;
    padding-right: 3%;
}
#button2, .button1 {
   transition: transform 0.2s ease-in-out;
 }
 
 #button2:hover {
   transform: scale(1.1);
 }
 .button1:hover {
   transform: scale(1.1);
 }
#img1{
    height: 30px;
}
   
#container2{
   display: flex;
   flex-direction: unset;
   align-items: center;
   margin-top: 0%;
}
  
#div1{color:rgb(230, 230, 230);
   font-size:210%;
    width:40%;
    text-align:center;
    margin-left: 50%;
    animation-name: text;
    opacity: 0%;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
} 
.img2{position: absolute;
    opacity:0%;
    animation-name: poza;
    animation-fill-mode: forwards;
   animation-duration: 0.8s;
      }
@keyframes poza{ 
    0%{margin-top:0%;
   opacity:0%;}
   100%{margin-top:10%;
   opacity:100%;}
}
@keyframes text{ 
   0%{margin-top:-6%;
  opacity:0%;}
  100%{margin-top:4%;
  opacity:100%;}
}

#div2{color:rgb(230, 230, 230);
   font-size:200%;
   width:60%;
}

#img3{position:absolute;
     width:100%;
     margin-top:-50%;
}

#img4{position:absolute;
   width:100%;
   margin-top:-35%;
}

#containerimagine{ 
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top:100%;
}
#div3 {
   position: absolute;
   font-size: 250%;
   margin-top: -150%;
   animation-name: menu;
   animation-delay:2s;
   animation-fill-mode: forwards;
   opacity: 0%;
   animation-duration: 1.5s;
   animation-play-state: running; 
 }
 
 @keyframes menu {
   0% {
     opacity: 0%;
     margin-top: -160%;
   }
   100% {
     opacity: 100%;
     margin-top: -150%;
   }
 }
 
 #ContainerMenu{
   display: flex;
   position: absolute;
   margin-top: -115%;
   justify-content: space-between;
 }
 .menu1{
   border: solid rgb(0, 0, 0) 1px;
   font-size: 250%;
   width: 270px;
   height: 150px;
   text-align: center;
   vertical-align: middle;
   line-height: 330%;  
   margin-left:5%;
 }

 