body {
    margin: 0;
    background-image: url(https://static.tildacdn.com/tild3332-3133-4234-a665-383363313231/-/resize/504x/desktop-main_backgro.jpg);
    background-size: 300%;
  }
  body {
    margin: 0;
    background-image: url(https://static.tildacdn.com/tild3332-3133-4234-a665-383363313231/-/resize/504x/desktop-main_backgro.jpg);
    background-size: 300%;
  }
  #img1 {
    margin: 4%;
    margin-left: 6%;
  }
  .button1 {
    border: none;
    background: none;
    font-size: 65%;
    color: rgb(230, 230, 230);
    margin-left: 6%;
    cursor: pointer;
  }
  #container1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2%;
  }
  #button2 {
    background: none;
    font-size: 50%;
    color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
  }
  #button2,
  .button1 {
    transition: transform 0.2s ease-in-out;
  }
  
  #button2:hover {
    transform: scale(1.1);
  }
  .button1:hover {
    transform: scale(1.1);
  }
  #img1 {
    height: 30px;
  }
  
  #container2 {
    display: flex;
    justify-content: center;
    flex-direction: unset;
    align-items: center;
  }

  
  